<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
</head>
<body>
<main>
    <ul>
        <a th:href="@{/albums/{/id}(id=${Album.id})}">Click Here To Go To This Album</a>
        <li th:each="album : ${albums}">
            <div th:text="${album.title}"></div>
            <img src="$" alt="PLACE HOLDER">
            <div>
                <p th:text="${album.artist}">Artist</p>
                <p th:text="${album.songCount}">Song Count</p>
                <p th:text="${album.length}">Length</p>
            </div>
        </li>
    </ul>

    <form action="/albums" method="POST">
        <fieldset>
            <legend>Add An Album</legend>
            <label> Title</label>
            <input type="text" name="title"/>
            <label>Artist</label>
            <input type="text" name="artist">
            <label>Song Count</label>
            <input type="number" name="songCount">
            <label>Length</label>
            <input type="text" name="length">
            <label>Image</label>
            <input type="text" name="imageUrl">
            <input type="submit" value="Add Album">
        </fieldset>
    </form>
</main>

</body>
</html>